body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: transparent;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.main-heading{
  color: #3498db;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.clocking{
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}


h1 {
  margin-bottom: 20px;
}

#display {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#startBtn { background: #4CAF50; color: white; }
#pauseBtn { background: #f39c12; color: white; }
#resetBtn { background: #e74c3c; color: white; }
#lapBtn { background: #3498db; color: white; }

.buttons button:hover {
  opacity: 0.85;
}

#laps {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

#laps li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
